<a href="https://colab.research.google.com/github/BhavyaGumber/Machine_Learning/blob/main/Mail_Classification.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
import numpy as np
import pandas as pd
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split 
from sklearn.feature_extraction.text import TfidfVectorizer #converting text data into numerical values
from sklearn.metrics import accuracy_score

## Data Collection and Preprocessing

In [5]:
data = pd.read_csv("mail_data.csv")

In [6]:
data.head()

  Category                                            Message
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...

In [7]:
#replace the null values with a null string
mail_data = data.where((pd.notnull(data)),'')

In [8]:
mail_data.head()

  Category                                            Message
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...

In [9]:
mail_data.shape

(5572, 2)

label encoding






label spam mail as 0, ham mail as 1

In [10]:
mail_data.loc[mail_data['Category']=='spam', 'Category',]=0
mail_data.loc[mail_data['Category']=='ham', 'Category',]=1

In [11]:
#separating the data as text and labels
X = mail_data['Message']
Y = mail_data['Category']

In [12]:
print(X)

0       Go until jurong point, crazy.. Available only ...
1                           Ok lar... Joking wif u oni...
2       Free entry in 2 a wkly comp to win FA Cup fina...
3       U dun say so early hor... U c already then say...
4       Nah I don't think he goes to usf, he lives aro...
                              ...
5567    This is the 2nd time we have tried 2 contact u...
5568                 Will ü b going to esplanade fr home?
5569    Pity, * was in mood for that. So...any other s...
5570    The guy did some bitching but I acted like i'd...
5571                           Rofl. Its true to its name
Name: Message, Length: 5572, dtype: object

In [13]:
print(Y)

0       1
1       1
2       0
3       1
4       1
       ..
5567    0
5568    1
5569    1
5570    1
5571    1
Name: Category, Length: 5572, dtype: object

spitting the data into training and testing

In [14]:
X_train, X_test, Y_train, Y_test = train_test_split(X,Y, test_size=0.2, random_state=3)

In [15]:
print(X.shape)
print(X_train.shape)
print(X_test.shape)

(5572,)
(4457,)
(1115,)

Feature Extraction

In [21]:
#transform the text data to feature vectors that can be used as input to the logistic regression
feature_extraction = TfidfVectorizer(min_df =1, stop_words = 'english', lowercase='True')
X_train_features = feature_extraction.fit_transform(X_train)
X_test_features = feature_extraction.transform(X_test)
# convert y_train and y_test values as integers
Y_train= Y_train.astype(int)
Y_test = Y_test.astype(int)

In [ ]:
print(X_train_features)

Training the Logistic Regression Model

In [23]:
model = LogisticRegression()

In [24]:
#training the logistic regression model with the training data
model.fit(X_train_features, Y_train)

LogisticRegression()

Evaluating the trained model

In [28]:
 #predictions on training data
 prediction_on_training_data = model.predict(X_train_features)
 accuracy_on_training_data = accuracy_score(Y_train, prediction_on_training_data)
 print(accuracy_on_training_data)

0.9670181736594121

evaluating the model on test data

In [33]:
prediction_on_test_data = model.predict(X_test_features)
accuracy_on_test_data = accuracy_score(Y_test, prediction_on_test_data)
print(accuracy_on_test_data)

0.9659192825112107

Building a Predictive System

In [36]:
input_mail  =['Even my brother is not like to speak with me. They treat me like aids patent']
#convert text to feature vectors
input_data_features = feature_extraction.transform(input_mail)
#making predictions
prediction = model.predict(input_data_features)
print(prediction)
if(prediction==1):
    print("Ham mail")
else:
  print("Spam mail")

[1]
Ham mail